<!-- PrivateChatRoom -->
<!-- Chat room for 1 on 1 conversations -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "bud/tinymce.min.js" %}"></script>
<p class="d-none" id="id_page_number">0</p>
<main class=" pt-4 profile-page layout layout--2">
  <div class="containerm d-block d-lg-none">
  <div class="friend-list clearfix">
    <ul>
      {% for x in m_and_f %}
      <li onclick="onSelectFriend('{{x.friend.id}}')" id="id_friend_containe_{{x.friend.id}}">
        <span class="messages">
          
        </span>
        <img  src="{% static 'img/avatar.png' %}" id="id_friend_img_{{x.friend.id}}"  alt="" />
        <span class="name username-span">{{x.friend.username}}
              <span class="status">
                Active 2h ago
              </span>
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
  <div class="container">
    <!-- Room Start -->
    <div class="room">
      <div class="room__top">
        <div class="room__topLeft">
          <a href="/">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
              ></path>
            </svg>
          </a>
          <h3>conversations</h3>
        </div>

        <div class="room__topRight">
          <a href="#">
            <svg
              enable-background="new 0 0 24 24"
              height="32"
              viewBox="0 0 24 24"
              width="32"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>edit</title>
              <g>
                <path d="m23.5 22h-15c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h15c.276 0 .5.224.5.5s-.224.5-.5.5z" />
              </g>
              <g>
                <g>
                  <path
                    d="m2.5 22c-.131 0-.259-.052-.354-.146-.123-.123-.173-.3-.133-.468l1.09-4.625c.021-.09.067-.173.133-.239l14.143-14.143c.565-.566 1.554-.566 2.121 0l2.121 2.121c.283.283.439.66.439 1.061s-.156.778-.439 1.061l-14.142 14.141c-.065.066-.148.112-.239.133l-4.625 1.09c-.038.01-.077.014-.115.014zm1.544-4.873-.872 3.7 3.7-.872 14.042-14.041c.095-.095.146-.22.146-.354 0-.133-.052-.259-.146-.354l-2.121-2.121c-.19-.189-.518-.189-.707 0zm3.081 3.283h.01z"
                  />
                </g>
                <g>
                  <path
                    d="m17.889 10.146c-.128 0-.256-.049-.354-.146l-3.535-3.536c-.195-.195-.195-.512 0-.707s.512-.195.707 0l3.536 3.536c.195.195.195.512 0 .707-.098.098-.226.146-.354.146z"
                  />
                </g>
              </g>
            </svg>
          </a>
          <a href="#">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>remove</title>
              <path
                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
              ></path>
            </svg>
          </a>
        </div>

        <!-- <button class="action-button" data-id="120" data-delete-url="https://randomuser.me/api/3324923"
        data-edit-url="profile.html">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>ellipsis-horizontal</title>
          <path
            d="M16 7.843c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 1.98c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
          </path>
          <path
            d="M16 19.908c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 14.046c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
          </path>
          <path
            d="M16 31.974c-2.156 0-3.908-1.753-3.908-3.908s1.753-3.908 3.908-3.908c2.156 0 3.908 1.753 3.908 3.908s-1.753 3.908-3.908 3.908zM16 26.111c-1.077 0-1.954 0.877-1.954 1.954s0.877 1.954 1.954 1.954c1.077 0 1.954-0.877 1.954-1.954s-0.877-1.954-1.954-1.954z">
          </path>
        </svg>
      </button> -->
      </div>
      <div class="room__box scroll">
        <div class="room__header scroll">
          <div class="room__hosted">
            <a href="" id="id_user_info_container" class="room__author">
              <div class="avatar avatar--small">
                <img id="id_other_user_profile_image" src="{% static 'img/avatar.png' %}" />
              </div>
              <span id="id_other_username"></span>
            </a>
          </div>
        </div>
        <div class="room__conversation">
          <div class="threads_chat scroll" id="threads-scroll">
            <div class="spinner-border text-primary" id="id_chatroom_loading_spinner" role="status"  style="display: none; ">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="room__message">
        <div class="d-flex flex-row chat-message-input-container">
          <textarea class="flex-grow-1 chat-message-input" id="id_chat_message_input"></textarea>
          <button class="btn btn-primary chat-message-submit-button" id="id_chat_message_submit" >
              <span class="fa fa-paper-plane">send
              </span>
          </button>
      </div>
      to use emoji press window + dot(.)
      </div>
    </div>
    <!-- Room End -->

    <!--   Start -->
    <div class="participants">
      <h3 class="participants__top">Friends <span>(5.3k Joined)</span></h3>
      <div class="participants__list scroll">
        {% for x in m_and_f %}
        <div class="participant" onclick="onSelectFriend('{{x.friend.id}}')" id="id_friend_container_{{x.friend.id}}">
          <div class="avatar avatar--medium">
            <img id="id_friend_img_{{x.friend.id}}" src="{% static 'img/avatar.png' %}" />
          </div>
          <p>
            <span class="username-span">{{x.friend.username}}</span>
            <span class="friend-message-span">{{x.message|truncatechars:20}}</span>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
    <!--  End -->
  </div>
<!-- Client Error MODAL -->
    <button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-toggle="modal" data-target="#id_client_error_modal">
    </button>
    <div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Socket Client Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p id="id_client_error_modal_body">Something went wrong.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="id_client_error_modal_close_btn">Close</button>
        </div>
        </div>
    </div>
    </div>
    <!-- Client Error MODAL -->
</main>
<script type="text/javascript">
    var chatSocket = null;
    var roomId = null;

    onStart()
    function onStart(){
        {% if room %}
            if("{{room.user1}}" == "{{request.user}}"){
                onSelectFriend("{{room.user2.id}}")
            }
            else{
                onSelectFriend("{{room.user1.id}}")
            }
        {% else %}
            {% if m_and_f %} 
                onSelectFriend('{{m_and_f.0.friend.id}}')
             {% endif %}
        {% endif %}
        
        {% for x in m_and_f %}
            preloadImage("{{x.friend.profile_image.url|safe}}", "id_friend_img_{{x.friend.id}}")
        {% endfor %}
    }

    function onSelectFriend(userId){
        createOrReturnPrivateChat(userId)
        clearHighlightedFriend()
        highlightFriend(userId)
    }

    function closeWebSocket(){
        if(chatSocket !=null)
            chatSocket.close()
            chatSocket = null
            clearChatLog()
            setPageNumber("1")
            disableChatLogScrollListener()
     }
    
    document.getElementById('id_chat_message_input').focus();
    document.getElementById('id_chat_message_input').onkeyup = function(e){
        if (e.keyCode === 13 && e.shiftKey) {  // enter + return
            // Handled automatically by textarea
        }
        else if(e.keyCode === 13 && !e.shiftKey){ // enter + !return
            document.getElementById('id_chat_message_submit').click();
        }
    };
 
    document.getElementById('id_chat_message_submit').onclick = function(e) {
        const messageInputDom = document.getElementById('id_chat_message_input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            "command": "send",
            "message": message,
            "room": roomId
        }));
        messageInputDom.value = '';
    };

   function setupWebSocket(room_id){

    console.log("setupWebSocket: " + room_id)

    roomId = room_id

    // close previous socket if one is open
    closeWebSocket()

    // Correctly decide between ws:// and wss://
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    {% if debug_mode %}
        var ws_path = ws_scheme + '://' + window.location.host + "/chat/" + roomId ; // development
    {% else %}
        var ws_path = ws_scheme + '://' + window.location.host + ":8001/chat/" + roomId  ; // production
    {% endif %}
    
    
    // console.log("Connecting to " + ws_path);
    chatSocket = new WebSocket(ws_path);

    // Handle incoming messages
    chatSocket.onmessage = function(message) {
        // Decode the JSON
        // console.log("Got chat websocket message " + message.data);
        console.log("Got websocket message.");
        var datam = JSON.parse(message.data)
        console.log(datam)

        // display the progress bar?
       // displayChatroomLoadingSpinner(datam.display_progress_bar)

        // Handle errors (ClientError)
        if (datam.error) {
            console.error(datam.error + ": " + datam.message)
            showClientErrorModal(datam.error)
        
        }
        // Handle joining (Client perspective)
        if (datam.join) {
            console.log("Joining room " + datam.join);
            getUserInfo();
            getRoomChatMessages()
            enableChatLogScrollListener()
        }
        // Handle leaving (client perspective)
        if (datam.leave) {
            // do nothing
            console.log("Leaving room " + datam.leave);
        }

        // user info coming in from backend
        if(datam.user_info){
            handleUserInfoPayload(datam.user_info)
            console.log("getting user info")
        }
        if(datam.msg_type == 0 || datam.msg_type == 1 || datam.msg_type == 2){
            appendMessage(datam,false,true)
        }
        if(datam.messages_payload){
            handleMesagesPayload(datam.messages,datam.new_page_number)
        }
        
    };

    chatSocket.addEventListener("open", function(e){
        console.log("ChatSocket OPEN")
        // join chat room
        if("{{request.user.is_authenticated}}"){
            chatSocket.send(JSON.stringify({
                "command": "join",
                "room": roomId
            }));
            console.log("sending request" )
            
        }
    })
    chatSocket.onclose = function(e) {
        console.log('Chat socket closed.');
    };

    chatSocket.onOpen = function(e){
        console.log("ChatSocket onOpen", e)
    }

    chatSocket.onerror = function(e){
        console.log('ChatSocket error', e)
    }

    if (chatSocket.readyState == WebSocket.OPEN) {
        console.log("ChatSocket OPEN")
    } else if (chatSocket.readyState == WebSocket.CONNECTING){
        console.log("ChatSocket connecting..")
    }

}
function getUserInfo(){
    chatSocket.send(JSON.stringify({
       "command": "get_user_info",
       "room_id":roomId
    }))
}



function handleUserInfoPayload(user_info){
     document.getElementById("id_other_username").innerHTML = user_info.username;
     document.getElementById("id_other_user_profile_image").classList.remove('d-none');
     document.getElementById("id_user_info_container").href= "{% url 'account:view' user_id=73632839274629 %}".replace("73632839274629",user_info.id);          
     preloadImage(user_info.profile_image,"id_other_user_profile_image");
}

    function showClientErrorModal(message){
        document.getElementById('id_client_error_modal_body').innerHTML = message
        document.getElementById('id_trigger_client_error_modal').click()
    }
    function appendMessage(data,maintainPosition,isNewMessage){
        messageType = data.msg_type
        msg_id = data.msg_id
        message = data.message
        uName = data.username
        user_id = data.user_id
        profile_image = data.profile_image
        timestamp = data.natural_timestamp
        console.log("append new chat messages:" + messageType )
        
        switch(messageType){
            case 0:
                username = uName + ":"
                msg = message + "\n"
                CreatChatMessageElelement(msg,msg_id,username,profile_image,user_id,timestamp,maintainPosition,isNewMessage)
                break;
            case 1:
                createConnectedDisconnectedElement(message,msg_id,profile_image,user_id)
                break
            case 2:
                createConnectedDisconnectedElement(message,msg_id,profile_image,user_id)
                break
            default:
                console.log("Unsupported message type")
                return
        }
        

        
    }
    
    function chatLogScrollListener(e){
        var chatLog = document.getElementById("threads-scroll")
        if((Math.abs(chatLog.scrollTop) + 2) >= (chatLog.scrollHeight - chatLog.offsetHeight)){
            getRoomChatMessages()
        }

    }

    function enableChatLogScrollListener(){
        document.getElementById("threads-scroll").addEventListener("scroll",
        chatLogScrollListener)
    }
    function disableChatLogScrollListener(){
        document.getElementById("threads-scroll").removeEventListener("scroll",
        chatLogScrollListener)
    }
    function displayChatroomLoadingSpinner(isDisplayed){
        var spinner = document.getElementById("id_chatroom_loading_spinner")
        if(isDisplayed){
            spinner.style.display = "block"
        }else{
            spinner.style.display = "none"
        }
    }
function CreatChatMessageElelement(msg,msg_id,username,profile_image,user_id,timestamp,maintainPosition,isNewMessage){
  var chatLog = document.getElementById("threads-scroll");
  var profile_image_id = "id_profile_image_" + msg_id;
  function get(){
     if('{{request.user.id}}' == user_id ){
    return(
      `<div class="thread__delete">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>remove</title>
          <path
            d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
          ></path>
        </svg>
      </div>`
    )
  }else{
    return ' '
  }
}
  var ourHtml = `
  <div class="left">
    <div class="avatar avatar--small">
      <img id=${profile_image_id} src="{% static 'img/avatar.png' %}"/>
    </div>
    <div class="msg_lead">
    <div class="thread__top">
      <div class="thread__author">
        <a href="#" class="thread__authorInfo">
          <span>@${username}</span>
        </a>
        <span class="thread__date">${timestamp}</span>
      </div>
      ${get()}
    </div>
    <div class="message parker">
      ${msg}
    </div>
  </div>
  </div>
  `
  var myHtml = `
  <div class="thread">
    <div class="avatar avatar--small">
      <img id=${profile_image_id} src="{% static 'img/avatar.png' %}"/>
    </div>
    <div class="msg_lead1">
    <div class="thread__top">
      <div class="thread__author">
        <a href="#" class="thread__authorInfo">
          <span>@${username}</span>
        </a>
        <span class="thread__date">${timestamp}</span>
      </div>
      ${get()}
    </div>
    <div class="message parker">
      ${msg}
    </div>
  </div>
  </div>
  `
  if(isNewMessage){
    if('{{request.user.id}}' == user_id ){
      chatLog.insertAdjacentHTML("beforeend",myHtml)
    }else{
      chatLog.insertAdjacentHTML("beforeend",ourHtml)
    }
    
  }
  else{
    if('{{request.user.id}}' == user_id ){
    chatLog.insertAdjacentHTML("afterbegin",myHtml)
    }else{
      chatLog.insertAdjacentHTML("afterbegin",ourHtml)
    }
  }
  if(!maintainPosition){
    chatLog.scrollTop = chatLog.scrollHeight
  }
  preloadImage(profile_image, profile_image_id)
}
function createConnectedDisconnectedElement(msg, msd_id, profile_image, user_id){
  var chatLog = document.getElementById("threads-scroll");
  var profile_image_id = "id_profile_image_" + msg_id
  var ourHtml = `
    <div class="thread " >
      <div class="thread__top">
        <div class="thread__author">
          <a href="#" class="thread__authorInfo">
            <div class="avatar avatar--small">
              <img id=${profile_image_id} src="{% static 'img/avatar.png' %}"/>
            </div>
          </a>
        </div>
       if("{{request.user.id}}" =="{{user_id}}" ){
          <div class="thread__delete">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>remove</title>
              <path
                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
              ></path>
            </svg>
          </div>
        }
      </div>
      <div class="thread__details">
       ${msg}
      </div>
    </div>
  `
  preloadImage(profile_image, profile_image_id)
 }
    function selectUser(user_id){
        // Weird work-around for passing arg to url
        var url = "{% url 'account:view' user_id=53252623623632623 %}".replace("53252623623632623", user_id)
        var win = window.open(url, "_blank")
        win.focus()
    }
    
    function showClientErrorModal(message){
        document.getElementById("id_client_error_modal_body").innerHTML = message
        document.getElementById("id_trigger_client_error_modal").click()
    }
    
    function displayChatroomLoadingSpinner(isDisplayed){
        var spinner = document.getElementById("id_chatroom_loading_spinner")
        if(isDisplayed){
            spinner.style.display = "block"
        }
        else{
            spinner.style.display = "none"
        }
 	}
    function clearChatLog(){
        document.getElementById("threads-scroll").innerHTML = ""   
    }
    function setPageNumber(pageNumber){
        document.getElementById("id_page_number").innerHTML = pageNumber
    }
    function SetpaginationExhusted(){
        setPageNumber("-1")
    }

    function getRoomChatMessages(){
        var PageNumber = document.getElementById("id_page_number").innerHTML;
        if(PageNumber != "-1"){
            setPageNumber("-1")
            chatSocket.send(JSON.stringify({
                "command": "get_room_chat_messages",
                "room_id":roomId,
                "page_number": PageNumber
            }))
        }
    }
    function handleMesagesPayload(messages,new_page_number){
        if(messages !=null && messages != "undefined" && messages != "None"){
            setPageNumber(new_page_number)
            messages.forEach(function(message){
                appendMessage(message,true,false)
            })
        }
    }
    function selectUser(user_id){
        var url = "{% url 'account:view' user_id=34354654654645643 %}".replace("34354654654645643",user_id)
        //var win = window.open(url)
        var win = window.location.replace(url)
        win.focus()
    }
    function highlightFriend(userId){
        document.getElementById(`id_friend_container_${userId}`).style.borderRight= "2px solid #83b4dd"
        document.getElementById(`id_friend_containe_${userId}`).classList.add('active')
    }
    function clearHighlightedFriend(){
		{% if m_and_f %}
			{% for x in m_and_f %}
				document.getElementById("id_friend_container_{{x.friend.id}}").style.borderRight = ""
        document.getElementById("id_friend_containe_{{x.friend.id}}").classList.remove('active')
			{% endfor %}
		{% endif %}

		// clear the profile image and username of current chat
		document.getElementById("id_other_user_profile_image").classList.add("d-none")
		document.getElementById("id_other_user_profile_image").src = "{% static 'img/avatar.png' %}"
		document.getElementById("id_other_username").innerHTML = ""
	}
    function createOrReturnPrivateChat(id){
		payload = {
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"user2_id": id,
		}
		$.ajax({
			type: 'POST',
			dataType: "json",
			url: "{% url 'chat:create-or-return-private-chat' %}", // production
			data: payload,
			timeout: 5000,
			success: function(data) {
				console.log("SUCCESS", data)
				if(data['response'] == "Successfully got the chat."){
					setupWebSocket(data['chatroom_id'])
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				console.error("ERROR...", data)
				alert("Something went wrong.")
			},
		});
	}
</script>
{% endblock content %}

