<script type="text/javascript">
    
    function preloadCallback(src, elementid){
        var img = document.getElementById(elementid)
        img.src = src   
    }

    function preloadImage(imagSrc, elementid){
        var objImagePreloader = new Image()
        objImagePreloader.src = imagSrc
         
        if (objImagePreloader.complete){
            preloadCallback(objImagePreloader.src,elementid)
            objImagePreloader.onload = function(){};
        }
        else{
            objImagePreloader.onload = function(){
                preloadCallback(objImagePreloader.src,elementid)
                // clear onload,IE behaves irratically with animated gifs otherwise
                objImagePreloader.onload = function(){}
            }
        }
    }

	function validateText(str)
	{
		var md = window.markdownit({
			highlight: function (str, lang) {
				if (lang && hljs.getLanguage(lang)) {
					try {
						return '<pre class="hljs"><code>' +
							hljs.highlight(lang, str, true).value +
							'</code></pre>';
					} catch (__) {}
				}
				return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
			},
			linkify: true,
		});
		var result = md.render(str);
		return result
	}

</script>