{% load static %}

<main class="profile-page layout layout--3 pt-5">
    <!-- Topics Start -->
    <div class="topics">
        <div class="topics__header">
          <h2>Browse Topics</h2>
        </div>
        <ul class="topics__list">
          <li>
            <a href="/" class="active">All <span>553</span></a>
          </li>
          <li>
            <a href="/">Database <span>90</span></a>
          </li>
        </ul>
        <a class="btn btn--link" href="/">
          More
          <i class="fas fa-chevron-down"></i>
        </a>
    </div>
    <!-- Topics End -->

    <!-- Room List Start (Profile Content) -->
    <div class="roomList">
        <div class="profile">
            <div class="profile__avatar">
                <div class="avatar avatar--large {% if user.is_active  %} active {% endif %}">
                  <img src="{{profile_image}}" alt="{{username}}">
                </div>
            </div>
            <div class="profile__info">
                {% if is_self%}
                  <h3> {{email}}</h3>
                {% else%}
                  {% if hide_email%}
                    <h3>*********</h3>
                  {%else%}
                    <h3>{{email}}</h3>
                  {% endif %}
                {% endif %}
                <p>@{{username}}</p>
                
                <!-- Friend Actions -->
                {% if request.user.is_authenticated %}
                  {% if request_sent == 0 %} <!-- THEM_SENT_TO_YOU -->
                  <div class="d-flex flex-row align-items-center gap-2 justify-content-center">
                    <span id="id_cancel_{{id}}" class="btn btn--main btn--pill" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>Decline</span>
                    <span id="id_confirm_{{id}}" class="btn btn--main btn--pill" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>Accept</span>
                  </div>
                  {% endif %}
                  
                  {% if is_friend == False and is_self == False %}
                    {% if request_sent == 1 %} <!-- YOU_SENT_TO_THEM -->
                    <div class="d-flex flex-column align-items-center pt-4">
                        <button class="btn btn-danger btn--pill" id="id_cancel_friend_request_btn">
                            Cancel Friend Request
                        </button>
                    </div>
                    {% endif %}
                    
                    {% if request_sent == -1 %} <!-- NO_REQUEST_SENT -->
                    <div class="d-flex flex-column align-items-center pt-4">
                        <button class="btn btn--main btn--pill" id="id_send_friend_request_btn">
                            Send Friend Request
                        </button>
                    </div>
                    {% endif %}
                  {% endif %}
                {% endif %}
                
                {% if is_friend %}
                <div class="dropdown pt-4 m-auto">
                  <button class="btn btn-secondary dropdown-toggle friends-btn btn--pill" data-bs-toggle="dropdown" aria-expanded="false" type="button" id="id_friends_toggle">
                  Friends
                  </button>
                  <div class="dropdown-menu" aria-labelledby="id_friends_toggle">
                    <a class="dropdown-item" href="#" onclick="removeFriend('{{id}}', onFriendRemoved)">Unfriend</a>
                  </div>
                </div>
                {% endif %}
                
                {% if is_self %}
                    <a href="{% url  "account:edit" user_id=request.user.id %}" class="btn btn--main btn--pill mt-3">Edit Profile</a>
                {% endif %}
                
                {% if is_friend %}
                    <div class="pt-1 btn btn--main btn--pill mt-2" onclick="createOrReturnPrivateChat('{{id}}')">
                        <span class="">Message</span>
                    </div>
                {% endif %}
            </div>
            <div class="profile__about">
                <h3>About</h3>
                <p>
                  {{bio}}
                </p>
            </div>
        </div>
        
        <!-- Hosted Rooms -->
        <div class="roomList__header mt-5">
            <div>
                <h2>Hosted Rooms</h2>
            </div>
        </div>
        {% for room in rooms %}
        <div class="roomListRoom">
            <div class="roomListRoom__header">
                <a href="{% url 'account:view' user_id=room.host.id %}" class="roomListRoom__author">
                    <div class="avatar avatar--small">
                        <img src="{{room.host.profile_image.url}}" alt="{{room.host.username}}">
                    </div>
                    <span>@{{room.host.username}}</span>
                </a>
                <div class="roomListRoom__actions">
                    <span>{{room.created|timesince}} ago</span>
                </div>
            </div>
            <div class="roomListRoom__content">
                <a href="{% url 'public:room' pk=room.id %}"><h3>{{room.name}}</h3></a>
            </div>
            <div class="roomListRoom__meta">
                <a href="{% url 'public:room' pk=room.id %}" class="roomListRoom__joined">
                    <i class="fas fa-users"></i>
                    {{room.participants.count}} Joined
                </a>
                <p class="roomListRoom__topic">{{room.topic}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    <div class="activities">
        <div class="activities__header">
            <h2>Friends</h2>
        </div>
        {% for friend in friends %}
        <div class="activities__box">
            <div class="activities__boxHeader roomListRoom__header">
                <a href="{% url 'account:view' user_id=friend.id %}" class="roomListRoom__author">
                    <div class="avatar avatar--small">
                        <img src="{{friend.profile_image.url}}" alt="{{friend.username}}">
                    </div>           
                    <p>@{{friend.username}}</p>
                </a>
                <a href="{% url 'account:view' user_id=friend.id %}" class="btn btn--main btn--sm">View</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Activities End -->
</main>