{% load static %}
<style type="text/css">
	.friend-list {
	  font-family: "Montserrat", sans-serif;
	}
	.friend-list .friend-box {
	  position: relative;
	  display: inline-block;
	  width: 170px;
	  height: 140px;
	  background-color: #3f4156;
	  margin: 20px;
	  border-radius: 10px;
	}
	.friend-list .friend-profile {
	  position: absolute;
	  left: 50%;
	  transform: translateX(-50%);
	  top: -20px;
	  border-radius: 50%;
	  height: 70px;
	  width: 70px;
	  background-size: cover;
	  background-position: center;
	  border: 3px rgba(255, 255, 255, 0.7) solid;
	  box-shadow: 0px 0px 15px #aaa;
	}
	.friend-list .name-box {
	  text-align: center;
	  position: absolute;
	  top: 55px;
	  left: 50%;
	  transform: translateX(-50%);
	  width: 100%;
	  color: #4F7091;
	  font-size: 18px;
	}
	.friend-list .user-name-box {
	  position: absolute;
	  top: 80px;
	  left: 50%;
	  transform: translateX(-50%);
	  width: 100%;
	  text-align: center;
	  font-size: 12px;
	}
	.friend-list .level-indicator {
	  background-color: #00a5db;
	  color: #fff;
	  display: inline-block;
	  padding: 5px 10px;
	  border-radius: 10px;
	  position: absolute;
	  bottom: 10px;
	  left: 50%;
	  transform: translateX(-50%);
	  font-size: 12px;
	}
	
	.friend-requests {
	  font-family: "Montserrat", sans-serif;
	  text-align: center;
	}
	.friend-requests .friend-box {
	  position: relative;
	  display: inline-block;
	  width: 300px;
	  height: 140px;
	  background-color: #3f4156;
	  margin: 20px;
	  border-radius: 10px;
	}
	.friend-requests .friend-profile {
	  position: absolute;
	  left: 10px;
	  top: 10px;
	  border-radius: 50%;
	  height: 70px;
	  width: 70px;
	  background-size: cover;
	  background-position: center;
	  border: 3px rgba(255, 255, 255, 0.7) solid;
	  box-shadow: 0px 0px 15px #aaa;
	}
	.friend-requests .name-box {
	  text-align: left;
	  position: absolute;
	  top: 20px;
	  left: 90px;
	  width: 200px;
	  color: #4F7091;
	  font-size: 18px;
	}
	.friend-requests .user-name-box {
	  position: absolute;
	  top: 50px;
	  left: 90px;
	  width: 200px;
	  text-align: left;
	  font-size: 12px;
	  line-height: 16px;
	}
	.friend-requests .request-btn-row {
	  position: absolute;
	  left: 10px;
	  width: calc(100% - 20px);
	  bottom: 10px;
	  text-align: center;
	}
	.friend-requests .request-btn-row .friend-request {
	  width: 35%;
	  margin: 5px 5%;
	  border-radius: 5px;
	  border: 2px solid transparent;
	  padding: 5px;
	  cursor: pointer;
	}
	.friend-requests .request-btn-row .decline-request {
	  background-color: #FF6666;
	  color: #fff;
	}
	.friend-requests .request-btn-row .decline-request:hover {
	  background-color: #993333;
	}
	.friend-requests .request-btn-row .accept-request {
	  background-color:  #5995fd;
	  color: #fff;
	}
	.friend-requests .request-btn-row .accept-request:hover {
	  background-color: #419764;
	}
	.friend-requests .request-btn-row .fr-request-pending {
	  position: relative;
	  top: -10px;
	  color: #17406f;
	  font-weight: bold;
	}
	.friend-requests .request-btn-row.disappear {
	  display: none;
	}
	</style>

{% include  'account/base_testcss.html' %}


<main class="profile-page layout layout--3 pt-5">
    <div class="container">
      <!-- Topics Start -->
      <div class="topics">
        <div class="topics__header">
          <h2>Browse Topics</h2>
        </div>
        <ul class="topics__list">
          <li>
            <a href="/" class="active">All <span>553</span></a>
          </li>
          <li>
            <a href="/">Database <span>90</span></a>
          </li>
        </ul>
        <button class="btn btn--link" href="/">
          More
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>chevron-down</title>
            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
          </svg>
        </button>
      </div>
      <!-- Topics End -->

      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
            <div class="profile__avatar">
                <div class="avatar avatar--large {% if user.is_active  %} active {% endif %}">
                  <img src="{{profile_image}}" />
                </div>
            </div>
            <div class="profile__info">
                {% if is_self%}
                  <h3> {{email}}</h3>
                {% else%}
                  {% if hide_email%}
                    <h3>*********</h3>
                  {%else%}
                    <h3>{{email}}</h3>
                  {% endif %}
                  {% endif %}
                <p>@{{username}}</p>
                {% if request.user.is_authenticated %}
                  {% if request_sent == 0 %}
                  <div class="d-flex flex-row align-items-center">
                    <span id="id_cancel_{{id}}" class="btn btn--main btn--pill" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")'>Decline</span>
                    <span id="id_confirm_{{id}}" class="btn btn--main btn--pill" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")'>Accept</span>
                  </div>
                {% endif %}
                    {% if is_friend == False and is_self == False %}
                              <!-- You sent them a request -->
                    {% if request_sent == 1 %}
                    <div class="d-flex flex-column align-items-center pt-4">
                        <button class="btn btn-danger" id="id_cancel_friend_request_btn">
                            Cancel Friend Request
                        </button>
                    </div>
                    {% endif %}
                    <!-- No requests have been sent -->
                    {% if request_sent == -1 %}
                    <div class="d-flex flex-column align-items-center pt-4">
                        <button class="btn btn--main btn--pill" id="id_send_friend_request_btn">
                            Send Friend Request
                        </button>
                    </div>
                    {% endif %}
                      {% endif %}
                    {% endif %}
                    {% if is_friend %}
                    <div class="dropdown pt-4 m-auto">
                      <button class="btn btn-secondary dropdown-toggle friends-btn" data-bs-toggle="dropdown" aria-expanded="false" type="button" id="id_friends_toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Friends
                      </button>
                      <div class="dropdown-menu" aria-labelledby="id_friends_toggle">
                        <a class="btn btn-secondary dropdown-item" href="#" onclick="removeFriend('{{id}}', onFriendRemoved)">Unfriend</a>
                      </div>
                    </div>
                    {% endif %}
                    {% if is_self %}
                        <a href="{% url  "account:edit" user_id=request.user.id %}" class="btn btn--main btn--pill">Edit Profile</a>
                    {% endif %}
                    {% if is_friend %}
                        <div class="pt-1 btn btn--main btn--pill" onclick="createOrReturnPrivateChat('{{id}}')">
                            <span class="">Message</span>
                        </div>
                    {% endif %}
            </div>
            <div class="profile__about">
                <h3>About</h3>
                <p>
                  {{bio}}
                </p>
            </div>
        </div>

        <div class="roomList__header">
            <div>
              <h2>Study Rooms Hosted by {{username}}</a>
              </h2>
            </div>
        </div>
        {% if rooms %}
            {% for room in rooms %}
            <div class="roomListRoom">
                <div class="roomListRoom__header">
                    <a href="profile.html" class="roomListRoom__author">
                      <div class="avatar avatar--small {% if room.host.is_active %} active {% endif %}">
                        <img src="{{room.host.profile_image.url}}" />
                      </div>
                      <span>@{{room.host}}</span>
                    </a>
                    <div class="roomListRoom__actions">
                      <span>{{room.created|timesince}}</span>
          
                    </div>
                </div>
            <div class="roomListRoom__content">
                <a href="room.html">{{room.topic}}</a>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ducimus harum
                dolorem, obcaecati mollitia omnis quasi aut consequuntur enim itaque labore.
                </p>
            </div>
            <div class="roomListRoom__meta">
                <a class="roomListRoom__joined">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>user-group</title>
                    <path
                    d="M30.539 20.766c-2.69-1.547-5.75-2.427-8.92-2.662 0.649 0.291 1.303 0.575 1.918 0.928 0.715 0.412 1.288 1.005 1.71 1.694 1.507 0.419 2.956 1.003 4.298 1.774 0.281 0.162 0.456 0.487 0.456 0.85v4.65h-4v2h5c0.553 0 1-0.447 1-1v-5.65c0-1.077-0.56-2.067-1.461-2.584z">
                    </path>
                    <path
                    d="M22.539 20.766c-6.295-3.619-14.783-3.619-21.078 0-0.901 0.519-1.461 1.508-1.461 2.584v5.65c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-5.651c0-1.075-0.56-2.064-1.461-2.583zM22 28h-20v-4.65c0-0.362 0.175-0.688 0.457-0.85 5.691-3.271 13.394-3.271 19.086 0 0.282 0.162 0.457 0.487 0.457 0.849v4.651z">
                    </path>
                    <path
                    d="M19.502 4.047c0.166-0.017 0.33-0.047 0.498-0.047 2.757 0 5 2.243 5 5s-2.243 5-5 5c-0.168 0-0.332-0.030-0.498-0.047-0.424 0.641-0.944 1.204-1.513 1.716 0.651 0.201 1.323 0.331 2.011 0.331 3.859 0 7-3.141 7-7s-3.141-7-7-7c-0.688 0-1.36 0.131-2.011 0.331 0.57 0.512 1.089 1.075 1.513 1.716z">
                    </path>
                    <path
                    d="M12 16c3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.859 0-7 3.141-7 7s3.141 7 7 7zM12 4c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5c0-2.757 2.243-5 5-5z">
                    </path>
                </svg>
                5.3k Joined
                </a>
                <p class="roomListRoom__topic">{{room.tittle}}</p>
            </div>
            </div>
            {% endfor %}
            {% endif %}
      </div>
      <!-- Room List End -->

      <!-- Activities Start -->
      <div class="activities">
        <div class="activities__header">
          <h2>Friends</h2>
        </div>
		{% if friends %}
		{% for friend in friends %}
			<div class="activities__box">
				<div class="activities__boxHeader roomListRoom__header">
					<a href="profile.html" class="roomListRoom__author">
					<div class="avatar avatar--small">
						<img src="{{friend.profile_image.url}}" />
					</div>
					<p>
						@{{friend.username}}
						<span> last seen {{friend.last_login| timesince}}</span>
					</p>
					</a>
				</div>
				<div class="activities__boxContent">
					<button class="btn btn--main btn--pill" onclick="createOrReturnPrivateChat('{{friend.id}}')" >Message</button>
					<a class="btn btn--main btn--pill" href="{% url 'account:view' user_id=friend.id  %}">view</a>

				</div>
				
			</div>
		{% endfor %}
		{% endif %}
      <!-- Activities End -->
    </div>
  </main>
<script type="text/javascript">

	// called from base_js.html
	//preloadImage("{{profile_image|safe}}", 'id_profile_image')

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	function onFriendRequestAccepted(){
		location.reload();
	}

	function onFriendRequestDeclined(){
		location.reload();
	}


	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{id}}", onFriendRequestSent)
		})
	}

	var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
	if(cancelFriendRequestBtn != null){
		cancelFriendRequestBtn.addEventListener("click", function(){
			cancelFriendRequest("{{id}}", onFriendRequestCancelled)
		})
	}

	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			removeFriend("{{id}}", onFriendRemoved)
		})
	}

	function triggerAcceptFriendRequest(friend_request_id){
		acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}

	function triggerDeclineFriendRequest(friend_request_id){
		declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}

</script>
{% include 'chat/snippets/create_or_return_privatechat.html' %}
