{% load static %}

{% include  'account/base_testcss.html' %}


<main class="bg-gray-100 bg-opacity-25">

  <div class="lg:w-8/12 lg:mx-auto mb-8">

    <header class="flex flex-wrap items-center p-4 md:py-8">

      <div class="md:w-3/12 md:ml-16">
        <!-- profile image -->
        <img class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
            border-2 border-pink-600 p-1" src="{{profile_image}}" alt="profile">
      </div>

      <!-- profile meta -->
      <div class="w-8/12 md:w-7/12 ml-4">
        <div class="md:flex md:flex-wrap md:items-center mb-4">
          <h2 class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0">
            @{{username}}_
          </h2>
          

          <!-- badge -->
          <span class="inline-block fas fa-certificate fa-lg text-blue-500 
                               relative mr-6 text-xl transform -translate-y-2 " aria-hidden="false" >
            <i class="fas fa-check text-white text-xs absolute inset-x-0
                               "></i>
          </span>
          {% if is_self %}
          <a href="{% url 'account:edit' user_id=id  %}" class="bg-blue-500 px-2 py-1  mx-2
          text-white font-semibold text-sm rounded block text-center 
          sm:inline-block block ">edit profile</a>

          <a href="{% url 'account:edit' user_id=id %}" class=" 
          text-black font-bold text-bold  block text-center">
          <i class="bi bi-gear"></i>
          
             </a>
            {% endif  %}
            {% if request.user.is_authenticated%}
              {% if request_sent == 0 %}
              <div class="flex ">
                <button id="id_confirm_{{id}}" onclick='triggerAcceptFriendRequest("{{pending_friend_request_id}}")' class="bg-blue-500 px-2 py-1 
                text-white font-semibold text-sm rounded block text-center border-none mr-2
                sm:inline-block block">Accept</button>
                <button id="id_cancel_{{id}}" onclick='triggerDeclineFriendRequest("{{pending_friend_request_id}}")' class="bg-red-600 px-2 py-1 
                text-white font-semibold text-sm rounded block text-center border-none 
                sm:inline-block block">Decline</button>
              </div>
              {% endif %}

             {% if is_friend == False and is_self == False %}
                <!-- you sent them a request -->
              {% if request_sent == 1 %}
                <button  id="id_cancel_friend_request_btn" class="bg-red-500 px-2 py-1
                border-none 
                text-white font-semibold text-sm rounded block text-center border-none 
                sm:inline-block block" onclick='cancelFriendRequest("{{id}}", onFriendRequestCancelled)'>Cancel Request</button>
              {% endif %}
              {% if request_sent == -1 %}
              <button id="id_send_friend_request_btn" class="bg-blue-500 px-2 py-1 
              text-white font-semibold text-sm rounded block text-center border-none
              sm:inline-block block">Send friend Request</button>
              {% endif %}

            {% endif%}
          {% endif %}
          {% if is_friend %}
              <p class="text-center px-2 pt-3 sm:display-none ">Friends</p>
            <button id="id_unfriend_btn" class="bg-blue-500 border-none px-2 py-1 
            text-white font-semibold text-sm rounded block text-center  
            sm:inline-block block" onclick="removeFriend('{{id}}', onFriendRemoved)">Unfriend</button>
            <button id="message_btn" class="bg-blue-500 border-none px-2 py-1 ml-2 
            text-white font-semibold text-sm rounded block text-center
            sm:inline-block block" onclick="createOrReturnPrivateChat('{{id}}')">Send message</button>
          {% endif %}


        </div>
        <!-- post, following, followers list for medium screens -->
        <ul class="hidden md:flex space-x-8 mb-4 list-decoration-none  list-unstyled gap-2">
          <li >
            <span>136</span>
            posts
          </li>

          <li>
            <span >{{friends|length}}</span>
            friends
          </li>
          <li>
            <span >302</span>
            following
          </li>
        </ul>
        <!-- user meta form medium screens -->
        <div class="hidden md:block">
          <h1 class="font-semibold">Mr {{username}}...</h1>
          <span>Travel, Nature and Music</span>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>

      </div>

      <!-- user meta form small screens -->
      <div class="md:hidden text-sm my-2">
        <h1 class="font-semibold">Mr Travlerrr...</h1>
        <span>Travel, Nature and Music</span>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>

    </header>
      <div class="">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

            <li class="nav-item" role="presentation">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="false" role="tab" tabindex="-1">Friends</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings" aria-selected="false" role="tab" tabindex="-1">Settings</button>
            </li>
            {% if is_self %}
            <li class="nav-item" role="presentation">
              <button class="nav-link " data-bs-toggle="tab" data-bs-target="#profile-change-password" aria-selected="true" role="tab">Change Password</button>
            </li>
            {% endif%}

          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">
              
              <h5 class="card-title">Friends request </h5>
                <p>you have {{friend_requests|length}} friend request</p>
                {% for friend in friend_requests %}
                  <div class="d-flex flex-row gap-2">
                    <img src="{{friend.sender.profile_image.url}}" class="rounded-circle w-20 h-20 md:w-30 md:h-30" >
                    <div class="d-flex flex-column">
                      <h4>{{friend.sender.username}}</h4>
                      <div>
                        <button id="id_cancel_{{friend.sender.id}}" class=" btn btn-danger mx-2" onclick='triggerDeclineFriendRequest("{{request.id}}")'>decline</button>
	  			              <button id="id_confirm_{{friend.sender.id}}" class=" btn btn-primary" onclick='triggerAcceptFriendRequest("{{request.id}}")'>accept</button>
                      </div>
                  </div> 
                {% endfor %}
                  <!-- <div class="d-flex flex-row gap-2 justify-content-center align-items-center">
                  <img src="{{profile_image}}" class="rounded-circle" width="100px" height="100px">
                  <div class="d-flex flex-column">
                    <h4>David victor</h4>
                    <h4>Friend </h4>
                  <button class="btn btn-primary btn-block">Add Friend</button>
                  </div>
                </div>  -->

            </div>
              <div class="tab-pane fade pt-3 " id="profile-change-password" role="tabpanel">
                <form method="post" action="{% url 'password_change' %}">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" id="currentPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newpassword" type="password" class="form-control" id="newPassword">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>
          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
</main>
<script type="text/javascript">

	// called from base_js.html
	//preloadImage("{{profile_image|safe}}", 'id_profile_image')

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	function onFriendRequestAccepted(){
		location.reload();
	}

	function onFriendRequestDeclined(){
		location.reload();
	}


	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{id}}", onFriendRequestSent)
		})
	}

	var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
	if(cancelFriendRequestBtn != null){
		cancelFriendRequestBtn.addEventListener("click", function(){
			cancelFriendRequest("{{id}}", onFriendRequestCancelled)
		})
	}

	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			removeFriend("{{id}}", onFriendRemoved)
		})
	}

	function triggerAcceptFriendRequest(friend_request_id){
		acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}

	function triggerDeclineFriendRequest(friend_request_id){
		declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}

</script>
{% include 'chat/snippets/create_or_return_privatechat.html' %}
